body{
    margin: 0;
    #head{
        background-color: lightseagreen;
        height: 18%;
        // width: 100vw;
        position: relative;
        p{
            position: absolute;
            left: 8%;
            font-size: 35px;
            color: white;
        }
        #head-list{
            position: absolute;
            left: 80%;
            bottom: 25%;
            list-style: none;
            li{
                display: inline;
                padding: 15px;
                margin-top: -45px;
                a{
                    font-size: 20px;
                    color:white;
                    text-decoration: none;
                }
                a:hover{
                    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
                    color: rgb(34, 18, 18);
                }
            }
        }
    
    }
}
