#home-container{
    
    height: auto;
    display: flex;
    
    #post-container{
        height: 100%;
        width: 75%;
        h1{
            font-size: 20px;
            color: rgb(130, 188, 247);
        }
        form{
            input {
                border: none;
            }
            #post-area{
                background-color: rgb(231, 238, 234);
                font-size: 15px;
            }
            #submit{
                padding: 7px;
                display: block;
                background-color: rgb(248, 221, 217);
                margin-left:21.4%; 
            }
            input:focus{
                outline: none;
            }
        }
        #posts{
            ul{
                li{
                    list-style: disc;
                    p{
                        font-size: 15px;
                        font-family: sans-serif;
                        color: rgb(14, 13, 1);
                        small{
                            font-family:Georgia, 'Times New Roman', Times, serif ;
                        }
                        a{
                            color: red;
                            text-decoration: none;
                        }
                    }
                    #post-form{
                        #button{
                            background-color: rgb(207, 243, 178);
                            border: none;
                            padding: 5px;
                        }
                    }
                }
            }
        }

    }
    #friends{
        margin-top: 20px;
        height: 100%;
        width: 24%;
        border-left:2px solid rgb(60, 76, 80);
        h4{
            margin-left: 20px;
            font-size: 20px;
            color: dodgerblue;
        }
        p{
            margin-left: 20px;
            a{
                text-decoration: none;
                color: rgb(63, 56, 47);
                font-family: sans-serif;
                font-size: 15px;
    
            }
            a:hover{
                color: rgb(148, 8, 43);
                transition: 0s;
            }
        } 
        
    
    }
}