
#sign-in-container{
    
    height: 500px;
    width: 300px;
    text-align: center;
    margin-left: 40%;
    h1{
        color: rgb(30, 30, 43);
    }
    form{
        input{
        display: block;
        height: 10%;
        width: 90%;
        padding: 10px;
        margin-top: 20px;
        margin-left: 16px;
        border:none;
        border-bottom: 1px solid grey;
        
        // border-bottom: 2px solid grey;
        }
       

        input:focus {
            outline:none;
        }
        #button{
            background-color: thistle;
        }
    }
    
}