
<% if (locals.user){ %>
	<button class="openChatBtn" onclick="openForm()">Chat</button>

		<div id="user-chat-box">
			<ul id="chat-messages-list" >
				<li class="other-message">
					<span>Other Message</span>
				</li>
				<li class="self-message">
					<span>
						Self Message
					</span>
					
				</li>

			</ul>
			<div id="chat-message-input-container">
				<input id="chat-message-input" placeholder="Type message here">
				<button id="send-message">Send</button>
			</div>
			<button type="button" class="btn close" onclick="closeForm()">
				Close
			</button>
		
	
<% } %>
<script>
	document .querySelector(".openChatBtn") .addEventListener("click", openForm);
	document.querySelector(".close").addEventListener("click", closeForm);
	function openForm() {
	   document.querySelector("#user-chat-box").style.display = "block";
	   document.querySelector(".openChatBtn").style.display = "none";
	}
	function closeForm() {
	   document.querySelector("#user-chat-box").style.display = "none";
	   document.querySelector(".openChatBtn").style.display = "block";
	}
 </script>

