<link rel="stylesheet" href="<%= assetPath('css/footer.css') %>">

<div id="layout-footer">

    <div id="footer-container">

        <a href="/">
            <div class="h-icon"><img src="https://img.icons8.com/material-rounded/24/000000/home.png" /></div>

        </a>




        <a href="/users/profile/<%= user._id %>">
            <div class="h-icon"><img src="https://img.icons8.com/material-outlined/24/000000/user--v1.png" /></div>

        </a>


    </div>




</div>