<link rel="stylesheet" href="<%= assetPath('css/header.css') %>">
<header >
    <div id="head">
        <div id="name">
         
          
          <span id="joinow">JOINOW</span> 
          <div id="icon-container">
            <a href="/" id="home-image-a">
              <img src="https://img.icons8.com/material-rounded/24/000000/home-page.png" />
            </a>
   
            <a href="/users/users&friends" id="user-friend-a">
              <img src="https://img.icons8.com/windows/32/000000/group2.png" />
            </a>
          </div>
          
        </div>
        
        <ul id="head-list">
            <% if(locals.user){ %>
                
                <li>
                
                  <div class="dropdown" >
                      
                        <p id="user-name-header"><%= user.name %></p>
                      <button  class="dropbtn">
                        <img src="https://img.icons8.com/material-outlined/24/000000/expand-arrow--v1.png" class="drop-icon-header" onclick="myFunction()"/>
                      </button>
                      
                      <div id="myDropdown" class="dropdown-content">
                        <a href="/users/profile/<%= user._id %>" >View Profile</a>
                        <a href="/users/signout">Sign Out</a>
                      
                      </div>
                      
                    </div>
                </li>
                
                
        
        
            <% } else{ %>
                <li>
                    <a href="/users/signup" id="list-item" class="sign-up-header">Sign-Up </a>
                </li>
                <li>
                    <a href="/" id="list-item" class="sign-in-header"  >Sign-In </a>
                </li>
                
            <% } %>
        </ul>   
    </div>

</header>

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
      $("#list-item").css({
        "border": "none",
      });
     
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.drop-icon-header')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>