<link rel="stylesheet" href="<%= assetPath('css/header.css') %>">
<header >
    <div id="head">
        <div id="name">
          <a href="/" id="joinow"> JOINOW</a>
        </div>
        
        <ul id="head-list">
            <% if(locals.user){ %>
                <% if(locals.user.avatar){ %>
                    
                        
                        
                    
                    
                <% } %>
                <li>
                
                <div class="dropdown" id="list-item">
                    <button onclick="myFunction()" class="dropbtn"><%= user.name %></button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="/users/profile/<%= user._id %>" >View Profile</a>
                      <a href="/users/signout">Sign Out</a>
                     
                    </div>
                  </div>
                </li>
                
                
        
        
            <% } else{ %>
                <li>
                    <a href="/users/signup" id="list-item" class="sign-up-header">Sign-Up </a>
                </li>
                <li>
                    <a href="/users/signin" id="list-item" class="sign-in-header">Sign-In </a>
                </li>
                
            <% } %>
        </ul>   
    </div>

</header>

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>