
<header >
    <div id="head">
        <a href="/" id="name"> JOINOW</a>
        <ul id="head-list">
            <% if(locals.user){ %>
                <li>
                <a href="/users/profile/<%= user._id %>" id="list-item" class="user-name"><%= user.name %></a>
            
                </li>
                <li>
                    <a href="/users/signout" id="list-item">Sign-out</a>
                </li>
        
        
            <% } else{ %>
                <li>
                    <a href="/users/signup" id="list-item">Sign-Up </a>
                </li>
                <li>
                    <a href="/users/signin" id="list-item">Sign-In </a>
                </li>
                
            <% } %>
        </ul>   
    </div>

</header>
