<link rel="stylesheet" href="<%= assetPath('css/header.css') %>">
<header >
    <div id="head">
        <div id="name">
         
          
          <div id="joinow"> <p id="app-name">JOINOW</p> </div> 
          <div id="icon-container">
            <div id="home-image-a">
              <a href="/" id="i-hom">
                <img src="https://img.icons8.com/windows/32/000000/home.png" id="f-img"/>
              </a>
            </div>
            <div id="user-friend-a">
              <a href="/users/users&friends" id="i-hom">
                <img src="https://img.icons8.com/ios-glyphs/30/000000/group.png"/ id="f-img">
              </a>
            </div>
   
            
          </div>
          
        </div>
        
        <div id="head-list">
         
            <% if(locals.user){ %>
           
                
                
              
                      <div class="drop ">
                        <a class="dropdown-toggle dropdown-new" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <%= user.name %>
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="/users/profile/<%= user._id %>">View Profile</a>
                          <a class="dropdown-item" href="/users/signout">Sign-Out</a>
                     
                        </div>
                      </div>
                      
                      
                  
                  
                
                
                
        
        
            <% } else{ %>
                <div>
                    <a href="/users/signup" id="list-item" class="sign-up-header">Sign-Up </a>
                </div>
                <div>
                    <a href="/" id="list-item" class="sign-in-header"  >Sign-In </a>
                </div>
                
            <% } %>
          
    </div>

</header>

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
      $("#list-item").css({
        "border": "none",
      });
     
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.drop-icon-header')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
