<link rel="stylesheet" href="/css/header.css">

<header >
    <div id="head">
        <a href="/"><p id="name"> JOINOW </p></a>
        <ul id="head-list">
            <% if(locals.user){ %>
                <li>
                    <a href="/users/profile/<%= user._id %>" id="user-name"><%= user.name %></a>
            
                </li>
                <li>
                    <a href="/users/signout">Sign-out</a>
                </li>
        
        
            <% } else{ %>
                <li>
                    <a href="/users/signup">Sign-Up</a>
                </li>
                <li>
                    <a href="/users/signin">Sign-In</a>
                </li>
                
            <% } %>
        </ul>   
    </div>

</header>
