<link rel="stylesheet" type="text/css" href="/css/home.css">
<div>
        <h1>Posts</h1>
        <% if(locals.user){ %>
                <form action="/users/posts" method="POST">
                        <textarea name="post_content" id="post-area" cols="30" rows="5" placeholder="Type to Post.."></textarea>
                        <input type="submit" value="Submit">
                </form>
                
        <% } %>

        
</div>
        
