<link rel="stylesheet" type="text/css" href="/css/home.css">

<div id="home-container">
        <section id="post-container">
                <h1>Posts:</h1>
                <% if(locals.user){ %>
                        <form action="/users/create-posts" method="POST">
                                <textarea name="post_content" id="post-area" cols="30" rows="5" placeholder="Type to Post.."></textarea>
                                <input type="submit" value="Submit" id="submit">
                        </form>
        
                <% } %>
        
                <div id="posts">
                        <%- include('_posts'); %>       
                     
                </div>
        
                
        </section>
                
        <section id="friends">
                <h4>Friends</h4>
                <% for(u of allUsers) {%>
                        <p>
                                <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                        </p>
                        
                <% } %>
        </section>
</div>
