<link rel="stylesheet" type="text/css" href="/css/home.css">

<div id="home-container">
        <section id="post-container">
                <h1>Posts:</h1>
                <% if(locals.user){ %>
                        <form action="/users/create-posts" id="new-post" enctype="multipart/form-data" method="POST">
                                <textarea name="post_content" id="post-area" cols="30" rows="5" placeholder="Type to Post.."></textarea>
                                <input type="file" placeholder="Post PIcture" name="avatar" >
                                <input type="submit" value="Submit">
                        </form>
        
                <% } %>
        
                <div id="post-list-container">
                        <ul>
                                
                                <% for(post of posts){ %>
                                        <%- include('_posts'); %>
                                        
                                        

                                <% } %>  
                        </ul>     
                     
                </div>
        
                
        </section>
                
        <section id="friends">
                <h4>Friends</h4>
                <% for(u of allUsers) {%>
                        <p>
                                <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                        </p>
                        
                <% } %>
        </section>
</div>

<script src="/js/home_comments.js">

</script>

<script >
        // CHANGE :: create a class to toggle likes when a link is clicked, using AJAX
class ToggleLike{
    constructor(toggleElement){
        this.toggler = toggleElement;
        this.toggleLike();
    }


    toggleLike(){
        $(this.toggler).click(function(e){
            e.preventDefault();
            let self = this;

            // this is a new way of writing ajax which you might've studied, it looks like the same as promises
            $.ajax({
                type: 'POST',
                url: $(self).attr('href'),
            })
            .done(function(data) {
                let likesCount = parseInt($(self).attr('data-likes'));
                console.log(likesCount);
                if (data.data.deleted == true){
                    likesCount -= 1;
                    
                }else{
                    likesCount += 1;
                }


                $(self).attr('data-likes', likesCount);
                $(self).html(`${likesCount} Like`);

            })
            .fail(function(errData) {
                console.log('error in completing the request');
            });
            

        });
    }
}

</script>

<script>
        $('.toggle-like-button').each(function(){
                let self = this;
                let toggleLike = new ToggleLike(self);
        })
</script>