<link rel="stylesheet" type="text/css" href="/css/home.css">
<div>
        <h1>Posts</h1>
        <% if(locals.user){ %>
                <form action="/users/create-posts" method="POST">
                        <textarea name="post_content" id="post-area" cols="30" rows="5" placeholder="Type to Post.."></textarea>
                        <input type="submit" value="Submit">
                </form>

        <% } %>

        <div>
                
                 <ul>
                        <% for(post of posts){ %>
                        <li>
                                <p>
                                        <%= post.post_content %><br>
                                        <%= post.userss.name %>
                                        <% if(locals.user){ %>
                                                <form action="/users/comment" method="POST">
                                                        <input type="text" name="comment" placeholder="Add Comment">
                                                        <input type="submit" value="Add Comment">
                                                </form>
                                        <% } %>
                                </p>
                        </li>
                        <% } %>
                </ul>
        </div>

        
</div>
        
