<link rel="stylesheet" href="/css/profile.css">
<h1>Users profile..!</h1>
<ul>
        <li>
                <%= userDetails.email %>
        </li>
        <li>
                <%= userDetails.name %>
        </li>
</ul>
 