<div>
    <h1>Sign-Up</h1>
    <form  method="POST" action="/users/create">

            <input type="email" placeholder="Enter Your Email" name="email" required>
            <input type="text"  placeholder="Enter Your Name" name="name" required>
            <input type="text" placeholder="Enter Your Password" name="password" required>
            <input type="text"  placeholder="Enter Your Password" name="confirm-password" required>
            <input type="button" value="Sign-Up">
    </form>
</div>