#layout-footer{
    color: rgb(0, 0, 0);
    position:fixed;
    bottom:0;
    width:100%;
    height: 45px;
    display: none !important;
    border-top: 1px solid rgba(160, 160, 160,0.3);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    #footer-container{
        height: 100%;
        width: 55%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        
    }
   
}

@media screen  and (max-width: 600px){
    #layout-footer{
        display: flex !important;
    }
}