
    #head{
        height: 54px;
        width: 100%;
        background-color: white;
        // border: 2px solid black;
        position: fixed;
        display: flex;
        margin: 0;
     
        #name {
            margin-left: 10%;
           
            font-size: 25px;
            position: absolute;
            top: 25%;
            width: 25%;
            // border: 2px solid black;
            #joinow{
                text-decoration: none;
                font-family: Helvetica;
                color: black;
            }
           
          
            #home-img{
                margin-left: 5%;
                height: 20px;
                display: inline-block;
            }
            #user-friend{
                
                color: black;
                display: inline-block;
                visibility: hidden;
            }
              
        }
          
        #head-list{
         
            margin-left: 75vw;
            width: 180px;
            height: 20px;
            list-style: none;
            // border: 2px solid black;
            // margin-top: 20px;
            display: flex;
            justify-content: space-around;
          
            #user-pic-header{
                height: 30px;
                width: 30px;
                margin-top: -4px;
                border-radius: 50px;
                // margin-left: -5px;
                // border: 2px solid black;
            }
            li{
                display: inline;
                // margin-left: 40px;
                margin-top: -4px;
                // border: 2px solid black;
                
                #list-item{
                    // border: 2px solid black;
                    font-size: 17px;
           
                    text-decoration: none;
                }
                #list-item:hover{
                    transition: 0.3s;
                    border-bottom: 1px solid rgba(90, 112, 128, 0.411);
                    color: rgba(212, 22, 22, 0.658);
                }
                
            }
            .dropbtn {
                // display: hide;
                height: 20px;
                width: 160px;
                background-color: white;
                color: black;
                padding: 10px 15px 30px 15px;
                font-size: 16px;
                border:none;
                cursor: pointer;
                margin-top: -5px;
                margin-left: -40px;
                // border: 2px solid navy;
                
              }
              
              .dropbtn:hover {
                border:none;
                transition: 0.5s;
                background-color: rgba(192, 189, 189,0.2);
              
              }
              
              .dropdown {
                border:none;
                position: relative;
                display: inline-block;
                
              }
              
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                width: 100px;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 99;
              }
              
              .dropdown-content a {
                font-size: 13px;
                color: black;
                padding: 9px 5px;
                text-decoration: none;
                display: block;
              }
              .dropdown-content a:hover{
                  border: none;
              }
              .dropdown a:hover {background-color: #ddd;border:none;}
              
              .show {display: block;}
        }
    
    }
    
@media (max-width: 380px) 
     {
        #user-friend{
            margin-left: 5%;
            display: inline-block !important; 
            visibility: visible !important;
        }
        #head{
            height: 40px !important;
            
        }
        #name{
            top: 13px !important;
            left: -5%;
            font-size: 15px !important;
            width: 70% !important;
            // border: 2px solid black;
        }
        #home-img{
            margin-left: 25% !important;
            height: 16px !important;
            
        }
        #head-list{
            position: relative;
            left: -150px;
            top: 3px;
            li{
                #list-item{
                    // border: 2px solid black;
                    font-size: 10px !important;
                   
                }
            }
        }
        .dropbtn{
    
            margin-left: 70px !important;
            margin-top: -15px !important;
            font-size: 10px !important;
            padding-top:15px !important;
            padding-bottom: 25px !important;
            width: 100px !important;
    
        }
        .dropdown-content {
         
            position: absolute !important;
            width: 90px !important;
            height: 70px !important;
            font-size: 10px !important;
            left: 90px !important;
           
        }
        
        
       
        
  }
    