
    #head{
        background-color: #659DBD;
        height: 54px;
        // width: 100vw;
        // position: relative;
        #name {
            margin-left: 130px;
            margin-top:50px;
            font-size: 25px;
            color: white;
            position: relative;
            top: 13%;
            text-decoration: none;
        }
            
        #head-list{
            position: absolute;
            left: 80vw;
            // bottom: 20%;
            list-style: none;
            // border: 2px solid black;
            margin-top: -20px;
            li{
                display: inline;
                padding: 15px;
                // border: 2px solid black;
                .user-name{
                    margin-left: -80px;
                }
                
                #list-item{
                    
                    font-size: 17px;
                    color:white;
                    text-decoration: none;
                }
                #list-item:hover{
                    transition: 0.5s;
                    color: rgb(34, 18, 18);
                }
            }
        }
    
    }

