
    #head{
        height: 9%;
        width: 100%;
        background-color: white;
        // border: 2px solid black;
        position: fixed;
        z-index: 1;
      
        #name {
            // margin-left: 10%;
            height: 100%;
            width: 50%;
            font-size: 25px;
            position: absolute;
            // top: 25%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            // border: 2px solid rgb(35, 228, 228);
            #joinow{
                text-decoration: none;
                font-family: Helvetica;
                color: black;
                display: flex;
                // border: 2px solid navy;
                height : 100%;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                p{
                    margin-block-start: 0;
                    margin-block-end: 0;
                }

            }
            #icon-container{
                width: 30%;
                height: 100%;
                margin-left: 2%;
                // margin-top: -0.2%;
                // border: 2px solid lightblue;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                #home-image-a , #user-friend-a{
                    // border: 2px solid yellow;
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                   
                    
                    
                }
                #home-image-a:hover, #user-friend-a:hover{
                    cursor: pointer;
                    background-color: rgb(231, 229, 229);
                }
              
                
            }
            
          
    
              
        }
          
        #head-list{
         
            margin-left: 50%;
            width: 44%;
            height: 100%;
        
            // border: 2px solid rgb(228, 49, 49);
            
            display: flex;
            justify-content: flex-end;
            float:right;
            
            .drop{
                width: auto;
                // border: 2px solid rgb(44, 236, 102);
                
            }
            .dropdown-new{
                // border: 1px solid black;
                background-color: white ;
                color: black;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                // padding: 2%;
                #user-dp{
                    height:80% ;
                    width: 95%;
                }
                
            }
            .dropdown-new:hover{
                text-decoration: none;
            }
            .dropdown-new:focus{
                border: none;
                box-shadow: none;
                background-color: rgba(218, 218, 218,0.3);
            }
            
        }
    
    }
    
@media (max-width: 750px) 
     {
         #head{
             
             margin : 0 !important ;
             z-index: 1 !important;
             height: 40px !important;
         }
         #joinow{
            font-size: 17px !important;
         }
         #icon-container{
          
            //  border: 2px solid lightblue !important;
            width: 45% !important;
            
            #f-img{
                // margin-top: 20% !important;
                height: 59% !important;

            }
         }
     
        #head-list{

            margin-left: 53% !important;
            width: 30% !important;
            font-size: 13px !important;
            // border:  1px solid black !important;
            
          
            .sign-up-header{
                
                visibility: hidden !important;
            }
            .sign-in-header{
                font-size: 12px !important;
                margin-top: 6% !important;
            }
        
        }
     
         
  
        #user-name-header{
            margin-top: 8% !important;
            // border: 2px solid black !important;
            font-size: 9px !important;
        }
        #user-dp{
            height:80% ;
            width: 25px !important;
        }
      
     
        .sign-in-header{
            font-size: 12px !important;
           
        }
        
       
        
  }
