#home-container{
    
    height: auto;
    display: flex;
    
    #post-container{
        height: 100%;
        width: 75%;
        h1{
            font-size: 20px;
            color: rgb(130, 188, 247);
        }
        form{
            #submit,#post-area {
                border: none;
            }
            #post-area{
                background-color: rgb(232, 240, 233);
                font-size: 15px;
            }
            #submit{
                width: 257px;
                height: 30px;
                padding: 7px;
                display: block;
                background-color: rgb(248, 221, 217);
                // margin-left:100px; 
            }
            input:focus,#post-area:focus{
                outline: none;
            }
            #submit:hover{
                cursor: pointer;
                background-color: #659DBD;
            }
        }
        #post-list-container{
            ul{
                li{
                    list-style: disc;
                    p{
                        font-size: 15px;
                        font-family: sans-serif;
                        color: rgb(14, 13, 1);
                        small{
                            font-family:Georgia, 'Times New Roman', Times, serif ;
                        }
                        a:hover{
                            color: red;
                            text-decoration: none;
                        }
                    }
                    #post-form{
                        form{
                            input{
                                padding: 5px;
                                
                            }
                            #button{
                                background-color:rgba(168, 169, 223, 0.185);
                                border: none;
                                padding: 5px;
                                
                            }
                            #button:hover{
                                cursor: pointer;
                                background-color:rgb(81, 136, 189);
                            
                               
                            }
                            #button:focus{
                                outline: none;
                            }
                        }
                       
                        
                    }
                }
            }
        }

    }
    #friends{
        margin-top: 20px;
        height: 100%;
        width: 24%;
        border-left:2px solid rgb(60, 76, 80);
        h4{
            margin-left: 20px;
            font-size: 20px;
            color: dodgerblue;
        }
        p{
            margin-left: 20px;
            a{
                text-decoration: none;
                color: rgb(63, 56, 47);
                font-family: sans-serif;
                font-size: 15px;
    
            }
            a:hover{
                color: rgb(148, 8, 43);
                transition: 0s;
            }
        } 
        
    
    }
}