$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

#home-container{

    height: 100%;
    overflow: scroll;

    // border: 2px solid black;
    
    
    #post-container{
        // border: 2px solid yellow;
        display: inline-block;
        margin-left: 27%;
        margin-top: 3%;
        width: 42%;
        
        #wall{
            // height: 100%;
            width: 100%;
            // border: 2px solid blue;
            // margin-left: 25%;
            
            display: inline-block;
            #new-post{
                list-style: none;
                margin-top: 8%;
                // margin-left:2%;
                // border: 2px solid black;
                background-color: white;
                height: 130px;
                border-top: 3px solid #659DBD;
                // margin-top: 110.5%;
                
                #post-area {
                    margin-left: 8.5%;
                    margin-top: 3%;
                    width: 82%;
                    height: 30%;
                    border: none;
                    padding-left: 4%;
                    background-color: rgb(241, 240, 240);
                    font-size: 10px;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
                    border-radius: 20px;
                   
                    
                }
                ::placeholder{
                    color: rgba(0, 0, 0, 0.24);

                }
               
               
                #pic:focus,#post-area:focus{
                    outline: none;
                }
                #photo-button-container{
                    // border: 2px solid black;
                    height: 30%;
                    width: 82%;
                    margin-left: 8.5%;
                    margin-top: 4%;
                    display: flex;
                    justify-content: space-between;
                }
            
                #upload-con:hover{
                    transition: 0.5s;
                    background-color: #659DBD;
                    
                }
             
                #upload-con{
                    display: inline ;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 49%;
                    height: 100%;
                    // border:2px solid rgb(228, 40, 40);
                    background-color:  rgb(241, 240, 240);
                    border-radius: 5px;
                    font-size: 13px;
                  
              
                  
                  
                }
                
                
                #post-button-con{
                    height: 100%;
                    width: 49%;
                    // border: 2px solid black;
                    border:none;
                    color: rgba(0, 0, 0, 0.34);
                    font-weight: 700;
                    
                    
                }
                .button-home{
                    cursor: pointer;
                    border: none;
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    padding: 2%;
                    border-radius: 5px;
                    background-color: #659DBD;
                }
                .button-home:hover{
                    transition: 0.5s;
                    background-color: white;
                    border: 2px solid rgba(0, 0, 0, 0.14); 
                }
                
                
            }
        }
        
        
        #post-list-container{
            // border: 2px solid black;
            // margin-top: 0px;
            display: inline-block;
            width: 100%;
           
            // margin-top: 4%;
            #post-list{
                list-style : none ;
                padding-inline-start: 0;
                margin-block-start: 0;
                // margin-left: -8%;
                
                .post-list-item{
                    margin-top: 5%;
                    // border: 2px solid yellowgreen;
                    background-color: white;
                    list-style: none;
                    
                    #user-name{
               
                        margin-left: 4%;
                        margin-top: 4%;
                        font-size: 18px;
                        #user-route{
                            color: black;
                            text-decoration: none;
                        }
                        #user-route:hover{
                            border-bottom: 1px solid grey;
                        }
                        
                        // border: 2px solid green;
                    }
                    #post-content{
                        margin-left: 4%;
                        font-size: 13px;
                        
                    }
                    #for-border{
                        margin-left: 4%;
                        width: 90%;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.24);
                        
                    }
                    
                    #picture{
                        // margin-left: 10px;
                        
                        margin-top: 20px;
                        height: 540px;
                        width: 100%;
                        object-fit: contain;
                    }
                    #likes{
                        // border: 2px solid yellow;
                        margin-left: 4%;
                        height: 6%;
                        display: flex;
                        flex-direction: row;
                        // justify-content: ;
                        align-items: center;
                        .likes-count{
                            margin-block-start: 0;
                            margin-block-end: 0;
                           
                            // border: 2PX solid red;
                        }
                        
                        #like-img{
                       
                            // border: 2PX solid blue;
                            height: 70%;
                            // margin-top: 12.5%;
                        }
                        #comment-count{
                            
                            padding-top: 0.4%;
                            margin-block-start: 0;
                            margin-block-end: 0;
                            // border: 2PX solid forestgreen;
                            
                        }
                        #comment-img{
                            // border: 1px solid tomato;
                            height: 70%;
                            margin-left: 0.4%;
                        }
                    }
                    
                    #comment-count::before{
                        content: "\00b7";
                        font-size: 0.8rem;
                        line-height: 1.33333;
                        font-weight: 700;
                        color: rgba(0,0,0,.9);
                        color: var(--color-text-low-emphasis);
                        
                        font-weight: 700;
                        // border: 2PX solid black;
                    }
                 
                    
                    #like-con{
                        // margin-top: 2%;
                        margin-left: 4%;
                        width: 96%;
                        height: 5%;
                        display: flex;
                        
                        // border: 1px solid black;
                        #lik{
                            width: 15%;
                            height: 100%;
                            // border: 1px solid black;
                            .toggle-like-button{
                                text-decoration: none;
                                
                                #like-button-1{
                                    height: 100%;
                                    width: 100%;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                   
                                    color: black;
                                    
                                    font-size: 13px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                #like-button-1:hover{
                                    transition: 0.5s;
                                    background-color: rgb(224, 220, 220);
                                }
                        }
                        #del-p{
                            width: 15%;
                            height: 100%;
                            // border: 1px solid blue;
                            .delete-post{
                                text-decoration: none;
                                // border: 1px solid red;
                                font-size: 13px;
                                #delete-button-1{
                                    
                                    height: 100%;
                                    width: 100%;
                                    text-transform: uppercase;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                           
                        
                              
                            #delete-button-1:hover{
                                color: black;
                                transition: 0.5s;
                                background-color: #c5c2c2;
                                border: 1px solid rgba(0, 0, 0, 0.14); 
                            }
                        }
                            

                        }
                        
                    }
                    
                      
                    // .comments-list{
                    //     display: none;
                    // }
                    #close-comments-button,#view-comments-button{
                        margin-left: 4%;
                    }
                    #close-comments-button{
                        display: none;
                    }
                    #comment-form{
                        // margin-top: 2%;
                        width: 96%;
                        margin-left: 4%;
                        height: 5%;
                        // border:1px solid black;
                       
                       
                        
                    }
                    .post-comments-container{
                        // border: 2px solid brown;
                        // margin-top: 10px;
                     
                        #comment-heading{
                            color: burlywood;
                            // border: 2px solid goldenrod;
                            margin-left: 4%;
                        }
                        .comments-list{
                            list-style: none;
                            margin-left: -8%;
                            margin-top: 4%;
                            // border: 2px solid yellow;
                            // background-color: white;
                            li{
                            
                         
                                #user-name{
                                    display : inline-block;
                                    padding-top: 0 ;
                                    width: 85%;
                                    height: auto;
                                    // border: 2px solid black;
                                   
                                }
                                #comment-content{
                                    display: inline-block;
                                    margin-left: 4%;
                                    // border: 2px solid black;
                                    width: 90%;
                                    height: auto;
                                }
                                #delete-comment{
                                    color:rgb(255, 111, 97);
                                    // margin-left: 78%;
                                }
                                #comment-likes-container{
                                    margin-left: 4%;
                                    
                                    a{
                                        color: #659DBD;
                                        // border: 2px solid black;
                                    }
                                    a:hover{
                                        color:rgb(255, 111, 97);                                
                                    }
                                    #likes-length{
                                        color: #659DBD;
                                        // border: 2px solid black;
                                    }
                                }
                                #for-border{
                                    width: 90%;
                                    border-top: 1px solid rgba(0, 0, 0, 0.14);
                                    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
                                    position: relative;
                                }
                              
                            }
                        }
                        
                        
                    }
                }
            }
        }

    }
    #for-border-up,#for-border-down{
        color: red;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    #friends{
        display: inline-block;
        margin-left: 50px;
        border-left : 2px solid grey;
        vertical-align: top;
        // margin-top: 35px;
        margin-top: 90px;
        position: fixed;
        height: 500px;
        width: 300px;
        overflow-y: scroll;
       
        
        #friends-list{
            // margin-top: -468px;
            margin-left: 20px;
            font-size: 20px;
            color: dodgerblue;
        }
        #friend-details{
            margin-left: 20px;
            #f-name{
                text-decoration: none;
                color: rgb(63, 56, 47);
                font-family: sans-serif;
                font-size: 15px;
    
            }
            #f-name:hover{
                color: rgb(148, 8, 43);
                transition: 0s;
            }
        }
        #all-users{
            margin-left: 20px;
            font-size: 20px;
            color: dodgerblue;
            
            
        } 
        #all-users-list{
            margin-left: 20px;
            #user-name-home{
                text-decoration: none;
                color: rgb(63, 56, 47);
                font-family: sans-serif;
                font-size: 15px;
    
            }
            #user-name-home:hover{
                color: rgb(148, 8, 43);
                transition: 0s;
            }
            
        }
        
    
    }

    #friends::-webkit-scrollbar {
        display: none;
      }
    #sign-in-container-home{
        // border: 2px solid black;
        height: 99%;
        width: 98%;
        text-align: center;
        // margin-left: 40%;
        #sign-in-home{
            width: 22%;
            height: 20%;
            // border: 2px solid gray;
            color: rgb(30, 30, 43);
            margin-left: 20%;
            margin-top: 14%;
            color: #93ccea;
            font-size: 30px;
  
            font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        #form-signin-home{
            // border: 2px solid black;
            width: 33%;
            height: 60%;
            margin-left: 50%;
            margin-top: -20%;
            background-color: white;
            
            #home-form{
                height: 100%;
                width: 100%;
                border-top: 1px solid rgba(65, 65, 236,0);
                
                margin-top: 6%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .input-home{
                    display: block;
                    height: 15%;
                    width: 87%;
                    padding: 4%;
                  
                    margin-left: 7%;
                    border:none;
                    border-bottom: 1px solid grey;
            
                }
            
    
                .input-home:focus {
                    outline:none;
                }
                #sign-in-b{
                    margin-left: 7%;
                    // border: 1px solid red;
                    height: 15%;
                    width: 87%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .but-sub{
                        border: none;
                        height: 100%;
                        width: 100%;
                        background-color: rgba(201, 201, 201, 0.3);
                    }
                    .but-sub:hover{
                        transition: 0.5s;
                        background-color: rgb(175, 203, 204);
                        cursor: pointer;
                    }
                }
                
                
            }
        }
        #google-container{
                width: 87%;
                height:15%;
                // border: 2px solid black;
                margin-left: 7%;
                border-radius: 20px;
                text-decoration: none;
                .google-btn {
                    width: 100%;
                    height: 100%;
                    // border: 2px solid rgb(189, 70, 70);
                    display: flex;
                    justify-content: center;
                    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
                .google-icon-wrapper {
                    width: 10%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    // justify-content: space-around;
                    align-items: center;
                    
                    border-radius: 2px;
                    background-color: $white;
                }
               
                .btn-text {
                    
                    color: black;
                    font-size: 14px;
                    letter-spacing: 0.2px;
                    text-decoration: none;

                    font-family: "Roboto";
                    height: 100%;
                    width: 40%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // border: 1px solid rgb(189, 70, 70);
                }
               
                &:hover {
        
                    box-shadow: 0 0 6px $google-blue;
                }
            }
        
        
        }
        #sign-up-home{
            background-color: white;
            width: 33%;
            height: 8%;
            margin-left: 50%;
            margin-top: 1%;
            padding-top: 1%;
            padding-bottom: 1%;
        }
        
    }
}
#home-container::-webkit-scrollbar {
    width: 0;  
   
}
.no-js #loader { display: none; }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    // border: 4px solid springgreen;
    // background-color: blueviolet;
    background: #fff;
    .loader-container-lay{
        // border: 2px solid springgreen;
        width: auto;
        font-size: 30px;
        position: relative;
        left: 47%;
        top: 45%;
        
    }
}
@media (max-width: 550px) {
    #photo-icon{
        height: 17px !important;
        width: 17px !important;

    }
    #friends{
        display: none !important ;
    }
    
        
    #post-container{
        width: 100% !important;
        margin-left:0 !important
        
    }
    
    #new-post{
        height: 84px !important;
        // margin-top: 15% !important;
    }
    
  
    .custom-file-input,.comment-button,.button-home {
        font-size: 7px !important;
    }
    
    #picture{
        height: 400px !important;
        width: 100% !important;
    }
   
    .post-comments-container{
        font-size: 10px !important;
    }
    #sign-in-container-home{
        height: 100% !important;
        border: 1px solid rgba(34,345,345,0) !important;
        background-color: white;
    }
    #sign-in-home{
        height: 100px !important;
        // margin-top: 7% !important;
        margin-left: 25% !important; 
        // border: 1px solid grey !important;
    }
    #form-signin-home{
        margin-top: 6% !important;
        width: 80% !important;
        height: 285px !important;
        margin-left: 10% !important;
        #input-home{
            border: 1px solid grey !important;
            height: 13% !important;
        }
    }
   
   
    #sign-up-home{
        width: 70% !important;
        height: 38px !important;
        margin-left: 10% !important;
        margin-top: 0% !important;
        // border: 1px solid grey !important;
        padding-left: 4% !important;
    }
    // #button{
    //     // position: relative !important;
    //     margin-top: -50px !important;
    //     // background-color: black !important;
    // }

}
    

