.openChatBtn {
  background-color: #7b1cb3;
  color: white;
  padding: 16px 20px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 10px;
  right: 28px;
  width: 280px;
  border: 3px solid white; }

.btn {
  background-color: #22c56b;
  border: 1px solid grey;
  color: white;
  padding: 16px 20px;
  font-weight: 500;
  font-size: 18px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  z-index: 1; }

#user-chat-box {
  position: fixed;
  top: 26%;
  right: 10px;
  height: 350px;
  width: 280px;
  background: white;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  display: none; }
  #user-chat-box #chat-messages-list {
    list-style: none;
    padding: 10px;
    height: 70%;
    background-color: white;
    overflow: auto; }
    #user-chat-box #chat-messages-list .other-message {
      text-align: left;
      padding: 5px; }
      #user-chat-box #chat-messages-list .other-message span {
        display: inline-block;
        padding: 15px;
        background-color: #ffa0a0; }
    #user-chat-box #chat-messages-list .self-message {
      text-align: right;
      padding: 5px; }
      #user-chat-box #chat-messages-list .self-message span {
        display: inline-block;
        padding: 15px;
        background-color: #a0dcff; }
  #user-chat-box #chat-message-input-container {
    height: 19%;
    width: 100%;
    display: flex;
    flex-direction: row; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      height: 50%;
      width: 70%; }
    #user-chat-box #chat-message-input-container #send-message {
      height: 50%;
      width: 30%;
      font-size: 25px;
      color: white;
      border: none;
      background: #58d258; }

@media (max-width: 750px) {
  #user-chat-box {
    display: none !important; } }
