#head {
  height: 9%;
  width: 100%;
  background-color: white;
  position: fixed;
  display: flex;
  z-index: 1; }
  #head #name {
    margin-left: 10%;
    font-size: 25px;
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: row;
    width: 50%; }
    #head #name #joinow {
      text-decoration: none;
      font-family: Helvetica;
      color: black;
      display: inline-block; }
    #head #name #icon-container {
      width: 15%;
      margin-left: 5%;
      margin-top: -0.2%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      #head #name #icon-container #home-image-a {
        width: 35%;
        padding-top: 3px; }
      #head #name #icon-container #user-friend-a {
        width: 35%;
        height: 100%;
        position: relative; }
  #head #head-list {
    margin-left: 78%;
    width: 16%;
    height: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-top: 1.3%; }
    #head #head-list li {
      padding-inline-start: 0;
      margin-block-start: 0;
      display: inline;
      z-index: 0; }
      #head #head-list li #list-item {
        font-size: 17px;
        text-decoration: none; }
      #head #head-list li #list-item:hover {
        transition: 0.3s;
        border-bottom: 1px solid rgba(90, 112, 128, 0.411);
        color: rgba(212, 22, 22, 0.658); }
    #head #head-list .dropdown {
      height: 25px;
      width: 100%;
      color: black;
      font-size: 16px;
      display: flex;
      font-size: 17px; }
      #head #head-list .dropdown #user-name-header {
        margin-block-start: 0;
        margin-block-end: 0;
        height: 80%;
        width: auto; }
      #head #head-list .dropdown .dropbtn {
        height: 25px;
        width: 33px;
        border: none;
        background-color: white;
        cursor: pointer; }
        #head #head-list .dropdown .dropbtn .drop-icon-header {
          height: 100%;
          width: 100%;
          margin-left: -25%;
          margin-top: -5px;
          font-size: 7px; }
    #head #head-list .dropbtn:hover {
      border: none;
      transition: 0.5s;
      color: #6c6172; }
    #head #head-list .dropdown-content {
      display: none;
      position: absolute;
      width: 14%;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      margin-top: 3%;
      background-color: #f1f1f1; }
    #head #head-list .dropdown-content a {
      font-size: 13px;
      color: black;
      padding: 9px 5px;
      text-decoration: none;
      display: block;
      padding-left: 27%; }
    #head #head-list .dropdown-content a:hover {
      border: none; }
    #head #head-list .dropdown a:hover {
      background-color: #ddd;
      border: none; }
    #head #head-list .show {
      display: block; }

@media (max-width: 750px) {
  #head {
    margin: 0 !important;
    z-index: 1 !important; }
  #joinow {
    font-size: 20px !important; }
  #icon-container {
    position: relative !important;
    margin-left: 10% !important;
    margin-top: -2% !important;
    width: 35% !important;
    font-size: 10px !important; }
  #head {
    height: 40px !important; }
  #head-list {
    margin-top: 3% !important;
    margin-left: 63% !important;
    width: 30% !important; }
    #head-list li {
      font-size: 5px !important;
      margin-top: 3.5% !important; }
    #head-list .sign-up-header {
      visibility: hidden !important; }
    #head-list .sign-in-header {
      font-size: 12px !important;
      margin-top: 6% !important; }
  .dropdown {
    margin-left: 17% !important;
    margin-top: -7% !important; }
  #user-name-header {
    margin-top: 8% !important;
    font-size: 9px !important; }
  .dropbtn {
    height: 15px !important;
    width: 23px !important;
    margin-top: 8% !important; }
  .dropdown-content {
    font-size: 7px !important;
    height: 60px !important;
    width: 110px !important;
    margin-top: 30px !important;
    margin-left: -12px !important; }
  .dropdown-content a {
    height: 7px !important;
    padding-left: 10% !important; }
  .sign-in-header {
    font-size: 12px !important; } }
