#head {
  height: 54px;
  background-color: white;
  position: relative; }
  #head #name {
    margin-left: 130px;
    margin-top: 5px;
    font-size: 25px;
    color: black;
    position: absolute;
    top: 13%;
    text-decoration: none;
    font-family: Helvetica; }
  #head #name:hover {
    transition: 0.5s;
    color: grey; }
  #head #head-list {
    position: absolute;
    left: 960px;
    list-style: none;
    display: flex;
    width: 200px;
    justify-content: space-between; }
    #head #head-list #user-pic-header {
      height: 30px;
      width: 30px;
      margin-top: -4px;
      border-radius: 50px;
      margin-left: 30px; }
    #head #head-list li {
      display: inline; }
      #head #head-list li #list-item {
        font-size: 17px;
        color: black;
        text-decoration: none; }
      #head #head-list li #list-item:hover {
        transition: 0.3s;
        border-bottom: 1px solid rgba(90, 112, 128, 0.411);
        color: rgba(212, 22, 22, 0.658); }
    #head #head-list .dropbtn {
      background-color: white;
      color: black;
      padding: 17px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      margin-top: -15px;
      margin-left: -40px; }
    #head #head-list .dropbtn:hover, #head #head-list .dropbtn:focus {
      transition: 0.5s;
      background-color: rgba(192, 189, 189, 0.4); }
    #head #head-list .dropdown {
      position: relative;
      display: inline-block; }
    #head #head-list .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
    #head #head-list .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block; }
    #head #head-list .dropdown a:hover {
      background-color: #ddd; }
    #head #head-list .show {
      display: block; }

@media only screen and (max-width: 768px) {
  #head-list {
    color: #3f382f;
    margin-left: -530px;
    left: 100px; }
    #head-list li .sign-up-header {
      display: none; }
    #head-list .sign-in-header {
      margin-left: -150px; }
    #head-list .dropbtn {
      display: inline; } }
