#head {
  height: 9%;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1; }
  #head #name {
    height: 100%;
    width: 50%;
    font-size: 25px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #head #name #joinow {
      text-decoration: none;
      font-family: Helvetica;
      color: black;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center; }
      #head #name #joinow p {
        margin-block-start: 0;
        margin-block-end: 0; }
    #head #name #icon-container {
      width: 30%;
      height: 100%;
      margin-left: 2%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      #head #name #icon-container #home-image-a, #head #name #icon-container #user-friend-a {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
      #head #name #icon-container #home-image-a:hover, #head #name #icon-container #user-friend-a:hover {
        cursor: pointer;
        background-color: #e7e5e5; }
  #head #head-list {
    margin-left: 50%;
    width: 44%;
    height: 100%;
    display: flex;
    justify-content: flex-end; }
    #head #head-list .drop {
      width: auto; }
    #head #head-list .dropdown-new {
      background-color: white;
      color: black;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    #head #head-list .dropdown-new:hover {
      text-decoration: none; }
    #head #head-list .dropdown-new:focus {
      border: none;
      box-shadow: none;
      background-color: rgba(218, 218, 218, 0.3); }

@media (max-width: 750px) {
  #head {
    margin: 0 !important;
    z-index: 1 !important;
    height: 40px !important; }
  #joinow {
    font-size: 17px !important; }
  #icon-container {
    width: 45% !important; }
    #icon-container #f-img {
      height: 59% !important; }
  #head-list {
    margin-left: 53% !important;
    width: 30% !important;
    font-size: 13px !important; }
    #head-list .dropdown-menu {
      border: 1px solid black; }
    #head-list .sign-up-header {
      visibility: hidden !important; }
    #head-list .sign-in-header {
      font-size: 12px !important;
      margin-top: 6% !important; }
  #user-name-header {
    margin-top: 8% !important;
    font-size: 9px !important; }
  .sign-in-header {
    font-size: 12px !important; } }
