#head {
  height: 54px;
  background-color: #659DBD;
  position: relative; }
  #head #name {
    margin-left: 130px;
    margin-top: 5px;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 13%;
    text-decoration: none; }
  #head #head-list {
    position: absolute;
    left: 960px;
    list-style: none;
    display: flex;
    width: 200px;
    justify-content: space-between; }
    #head #head-list #user-pic-header {
      height: 50px;
      width: 50px;
      margin-top: -13px;
      border-radius: 50px; }
    #head #head-list li {
      display: inline; }
      #head #head-list li #list-item {
        font-size: 17px;
        color: white;
        text-decoration: none; }
      #head #head-list li #list-item:hover {
        transition: 0.5s;
        color: #221212; }
    #head #head-list .dropbtn {
      display: hide;
      background-color: #659DBD;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      margin-top: -15px; }
    #head #head-list .dropbtn:hover, #head #head-list .dropbtn:focus {
      border-left: 1px solid #f6f8f6;
      border-right: 1px solid #edf1ed; }
    #head #head-list .dropdown {
      position: relative;
      display: inline-block; }
    #head #head-list .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
    #head #head-list .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block; }
    #head #head-list .dropdown a:hover {
      background-color: #ddd; }
    #head #head-list .show {
      display: block; }

@media only screen and (max-width: 768px) {
  #head-list {
    color: #3f382f;
    margin-left: -530px;
    left: 100px; }
    #head-list li .sign-up-header {
      display: none; }
    #head-list .dropbtn {
      display: inline; } }
