#home-container {
  display: flex;
  margin-top: 30px; }
  #home-container #post-container #wall {
    height: 100%;
    width: 540px;
    margin-left: 55%; }
    #home-container #post-container #wall #new-post {
      background-color: white;
      height: 130px;
      border-top: 3px solid #659DBD; }
      #home-container #post-container #wall #new-post #pic, #home-container #post-container #wall #new-post #button {
        height: 40px;
        width: 150px;
        padding: 10px;
        margin-top: 25px;
        margin-left: 48px; }
      #home-container #post-container #wall #new-post #post-area {
        margin-left: 46px;
        margin-top: 5px;
        width: 438px;
        height: 50px;
        border: none;
        padding-left: 50px;
        background-color: #f1f0f0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        font-weight: 700; }
      #home-container #post-container #wall #new-post ::placeholder {
        color: rgba(0, 0, 0, 0.24); }
      #home-container #post-container #wall #new-post #pic:focus, #home-container #post-container #wall #new-post #post-area:focus {
        outline: none; }
      #home-container #post-container #wall #new-post .custom-file-input::-webkit-file-upload-button {
        visibility: hidden; }
      #home-container #post-container #wall #new-post .custom-file-input::before {
        content: 'Upload Picture';
        color: rgba(0, 0, 0, 0.24);
        text-align: center;
        padding: 20px; }
      #home-container #post-container #wall #new-post .custom-file-input {
        display: inline-block;
        background: #f1f0f0;
        padding: 10px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        font-weight: 700;
        font-size: 10pt; }
      #home-container #post-container #wall #new-post #pic:hover {
        transition: 0.5s;
        background-color: #659DBD; }
      #home-container #post-container #wall #new-post #button {
        margin-top: -40px;
        margin-left: 335px;
        cursor: pointer;
        border: none;
        color: rgba(0, 0, 0, 0.34);
        font-weight: 700;
        border-radius: 5px;
        background-color: #659DBD; }
  #home-container #post-container #post-list-container {
    margin-top: 30px; }
    #home-container #post-container #post-list-container #post-list .post-list-item {
      margin-left: -35px;
      margin-top: 30px;
      background-color: white;
      list-style: none; }
      #home-container #post-container #post-list-container #post-list .post-list-item #user-name {
        margin-top: 10px;
        margin-left: 20px; }
      #home-container #post-container #post-list-container #post-list .post-list-item #post-content {
        margin-left: 20px; }
      #home-container #post-container #post-list-container #post-list .post-list-item #for-border {
        margin-left: 23px;
        width: 485px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.24); }
      #home-container #post-container #post-list-container #post-list .post-list-item #picture {
        margin-top: 20px;
        height: 520px;
        width: 100%; }
      #home-container #post-container #post-list-container #post-list .post-list-item #likes {
        margin-left: 10px;
        width: 200px;
        display: flex; }
        #home-container #post-container #post-list-container #post-list .post-list-item #likes .count {
          width: 10px; }
        #home-container #post-container #post-list-container #post-list .post-list-item #likes .img {
          height: 23px;
          width: 20px;
          margin-top: 13px; }
      #home-container #post-container #post-list-container #post-list .post-list-item .toggle-like-button {
        text-decoration: none; }
        #home-container #post-container #post-list-container #post-list .post-list-item .toggle-like-button #like-button-1 {
          width: 46px;
          background-color: #ff6f61;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          margin-top: 10px;
          margin-left: 10px;
          padding: 10px;
          color: white;
          display: inline-block; }
      #home-container #post-container #post-list-container #post-list .post-list-item .delete-post {
        text-decoration: none; }
        #home-container #post-container #post-list-container #post-list .post-list-item .delete-post #delete-button-1 {
          display: inline-block;
          width: 106px;
          background-color: #ff6f61;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          margin-top: 10px;
          margin-left: 10px;
          padding: 10px;
          color: white; }
      #home-container #post-container #post-list-container #post-list .post-list-item #delete-button-1:hover, #home-container #post-container #post-list-container #post-list .post-list-item #like-button-1:hover {
        background-color: #8f8787; }
      #home-container #post-container #post-list-container #post-list .post-list-item #comment-form {
        margin-top: 15px; }
        #home-container #post-container #post-list-container #post-list .post-list-item #comment-form #new-comment .comment-input {
          padding: 5px;
          border: none; }
        #home-container #post-container #post-list-container #post-list .post-list-item #comment-form #new-comment .comment-input:focus {
          outline: none; }
        #home-container #post-container #post-list-container #post-list .post-list-item #comment-form #new-comment #comment {
          width: 100%;
          height: 35px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.14); }
        #home-container #post-container #post-list-container #post-list .post-list-item #comment-form #new-comment #button {
          margin-top: 10px;
          margin-left: 5px;
          border: 2px solid magenta;
          background-color: rgba(168, 169, 223, 0.185);
          border: none;
          padding: 10px; }
        #home-container #post-container #post-list-container #post-list .post-list-item #comment-form #new-comment #button:hover {
          cursor: pointer;
          background-color: #5188bd; }
        #home-container #post-container #post-list-container #post-list .post-list-item #comment-form #new-comment #button:focus {
          outline: none; }
      #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container #comment-heading {
        color: burlywood;
        margin-left: 5px; }
      #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list {
        list-style: none;
        margin-left: -35px;
        margin-top: 30px; }
        #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li {
          margin-top: -10px; }
          #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #user-name {
            display: inline-block; }
          #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #comment-content {
            display: inline-block;
            margin-left: 20px;
            width: 400px;
            height: auto; }
          #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #delete-comment {
            color: #ff6f61; }
          #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #comment-likes-container {
            margin-left: 20px;
            margin-top: -20px; }
            #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #comment-likes-container a {
              color: #659DBD; }
            #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #comment-likes-container a:hover {
              color: #ff6f61; }
            #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #comment-likes-container #likes-length {
              color: #659DBD; }
          #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #for-border {
            width: 450px;
            border-top: 1px solid rgba(0, 0, 0, 0.14);
            border-bottom: 1px solid rgba(0, 0, 0, 0.14);
            position: relative; }
  #home-container #friends {
    margin-top: 20px;
    height: 100%;
    width: 24%;
    border-left: 2px solid #3c4c50;
    margin-left: 400px; }
    #home-container #friends h4 {
      margin-left: 20px;
      font-size: 20px;
      color: dodgerblue; }
    #home-container #friends p {
      margin-left: 20px; }
      #home-container #friends p a {
        text-decoration: none;
        color: #3f382f;
        font-family: sans-serif;
        font-size: 15px; }
      #home-container #friends p a:hover {
        color: #94082b;
        transition: 0s; }
