#home-container {
  height: 100%;
  overflow: scroll; }
  #home-container #post-container {
    display: inline-block;
    margin-left: 27%;
    margin-top: 3%;
    width: 42%; }
    #home-container #post-container #wall {
      width: 100%;
      display: inline-block; }
      #home-container #post-container #wall #new-post {
        list-style: none;
        margin-top: 8%;
        background-color: white;
        height: 130px;
        border-top: 3px solid #659DBD; }
        #home-container #post-container #wall #new-post #post-area {
          margin-left: 8.5%;
          margin-top: 3%;
          width: 82%;
          height: 30%;
          border: none;
          padding-left: 4%;
          background-color: #f1f0f0;
          font-size: 10px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
          border-radius: 20px; }
        #home-container #post-container #wall #new-post ::placeholder {
          color: rgba(0, 0, 0, 0.24); }
        #home-container #post-container #wall #new-post #pic:focus, #home-container #post-container #wall #new-post #post-area:focus {
          outline: none; }
        #home-container #post-container #wall #new-post #photo-button-container {
          height: 30%;
          width: 82%;
          margin-left: 8.5%;
          margin-top: 4%;
          display: flex;
          justify-content: space-between; }
        #home-container #post-container #wall #new-post #upload-con:hover {
          transition: 0.5s;
          background-color: #659DBD; }
        #home-container #post-container #wall #new-post #upload-con {
          display: inline;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 49%;
          height: 100%;
          background-color: #f1f0f0;
          border-radius: 5px;
          font-size: 13px; }
        #home-container #post-container #wall #new-post #post-button-con {
          height: 100%;
          width: 49%;
          border: none;
          color: rgba(0, 0, 0, 0.34);
          font-weight: 700; }
        #home-container #post-container #wall #new-post .button-home {
          cursor: pointer;
          border: none;
          height: 100%;
          width: 100%;
          text-align: center;
          padding: 2%;
          border-radius: 5px;
          background-color: #659DBD; }
        #home-container #post-container #wall #new-post .button-home:hover {
          transition: 0.5s;
          background-color: white;
          border: 2px solid rgba(0, 0, 0, 0.14); }
    #home-container #post-container #post-list-container {
      display: inline-block;
      width: 100%; }
      #home-container #post-container #post-list-container #post-list {
        list-style: none;
        padding-inline-start: 0;
        margin-block-start: 0; }
        #home-container #post-container #post-list-container #post-list .post-list-item {
          margin-top: 5%;
          background-color: white;
          list-style: none; }
          #home-container #post-container #post-list-container #post-list .post-list-item #user-name {
            margin-left: 4%;
            margin-top: 4%;
            font-size: 18px; }
            #home-container #post-container #post-list-container #post-list .post-list-item #user-name #user-route {
              color: black;
              text-decoration: none; }
            #home-container #post-container #post-list-container #post-list .post-list-item #user-name #user-route:hover {
              border-bottom: 1px solid grey; }
          #home-container #post-container #post-list-container #post-list .post-list-item #post-content {
            margin-left: 4%;
            font-size: 13px; }
          #home-container #post-container #post-list-container #post-list .post-list-item #for-border {
            margin-left: 4%;
            width: 90%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.24); }
          #home-container #post-container #post-list-container #post-list .post-list-item #picture {
            margin-top: 20px;
            height: 540px;
            width: 100%;
            object-fit: contain; }
          #home-container #post-container #post-list-container #post-list .post-list-item #likes {
            margin-left: 4%;
            height: 6%;
            display: flex;
            flex-direction: row;
            align-items: center; }
            #home-container #post-container #post-list-container #post-list .post-list-item #likes .likes-count {
              margin-block-start: 0;
              margin-block-end: 0; }
            #home-container #post-container #post-list-container #post-list .post-list-item #likes #like-img {
              height: 70%; }
            #home-container #post-container #post-list-container #post-list .post-list-item #likes #comment-count {
              padding-top: 0.4%;
              margin-block-start: 0;
              margin-block-end: 0; }
            #home-container #post-container #post-list-container #post-list .post-list-item #likes #comment-img {
              height: 70%;
              margin-left: 0.4%; }
          #home-container #post-container #post-list-container #post-list .post-list-item #comment-count::before {
            content: "\00b7";
            font-size: 0.8rem;
            line-height: 1.33333;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.9);
            color: var(--color-text-low-emphasis);
            font-weight: 700; }
          #home-container #post-container #post-list-container #post-list .post-list-item #like-con {
            margin-left: 4%;
            width: 96%;
            height: 5%;
            display: flex; }
            #home-container #post-container #post-list-container #post-list .post-list-item #like-con #lik {
              width: 15%;
              height: 100%; }
              #home-container #post-container #post-list-container #post-list .post-list-item #like-con #lik .toggle-like-button {
                text-decoration: none; }
                #home-container #post-container #post-list-container #post-list .post-list-item #like-con #lik .toggle-like-button #like-button-1 {
                  height: 100%;
                  width: 100%;
                  text-decoration: none;
                  text-transform: uppercase;
                  color: black;
                  font-size: 13px;
                  display: flex;
                  justify-content: center;
                  align-items: center; }
                #home-container #post-container #post-list-container #post-list .post-list-item #like-con #lik .toggle-like-button #like-button-1:hover {
                  transition: 0.5s;
                  background-color: #e0dcdc; }
              #home-container #post-container #post-list-container #post-list .post-list-item #like-con #lik #del-p {
                width: 15%;
                height: 100%; }
                #home-container #post-container #post-list-container #post-list .post-list-item #like-con #lik #del-p .delete-post {
                  text-decoration: none;
                  font-size: 13px; }
                  #home-container #post-container #post-list-container #post-list .post-list-item #like-con #lik #del-p .delete-post #delete-button-1 {
                    height: 100%;
                    width: 100%;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    align-items: center; }
                #home-container #post-container #post-list-container #post-list .post-list-item #like-con #lik #del-p #delete-button-1:hover {
                  color: black;
                  transition: 0.5s;
                  background-color: #c5c2c2;
                  border: 1px solid rgba(0, 0, 0, 0.14); }
          #home-container #post-container #post-list-container #post-list .post-list-item #close-comments-button, #home-container #post-container #post-list-container #post-list .post-list-item #view-comments-button {
            margin-left: 4%; }
          #home-container #post-container #post-list-container #post-list .post-list-item #close-comments-button {
            display: none; }
          #home-container #post-container #post-list-container #post-list .post-list-item #comment-form {
            width: 96%;
            margin-left: 4%;
            height: 5%; }
          #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container #comment-heading {
            color: burlywood;
            margin-left: 4%; }
          #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list {
            list-style: none;
            margin-left: -8%;
            margin-top: 4%; }
            #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #user-name {
              display: inline-block;
              padding-top: 0;
              width: 85%;
              height: auto; }
            #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #comment-content {
              display: inline-block;
              margin-left: 4%;
              width: 90%;
              height: auto; }
            #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #delete-comment {
              color: #ff6f61; }
            #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #comment-likes-container {
              margin-left: 4%; }
              #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #comment-likes-container a {
                color: #659DBD; }
              #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #comment-likes-container a:hover {
                color: #ff6f61; }
              #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #comment-likes-container #likes-length {
                color: #659DBD; }
            #home-container #post-container #post-list-container #post-list .post-list-item .post-comments-container .comments-list li #for-border {
              width: 90%;
              border-top: 1px solid rgba(0, 0, 0, 0.14);
              border-bottom: 1px solid rgba(0, 0, 0, 0.14);
              position: relative; }
  #home-container #for-border-up, #home-container #for-border-down {
    color: red;
    border: 1px solid rgba(0, 0, 0, 0); }
  #home-container #friends {
    display: inline-block;
    margin-left: 50px;
    border-left: 2px solid grey;
    vertical-align: top;
    margin-top: 90px;
    position: fixed;
    height: 500px;
    width: 300px;
    overflow-y: scroll; }
    #home-container #friends #friends-list {
      margin-left: 20px;
      font-size: 20px;
      color: dodgerblue; }
    #home-container #friends #friend-details {
      margin-left: 20px; }
      #home-container #friends #friend-details #f-name {
        text-decoration: none;
        color: #3f382f;
        font-family: sans-serif;
        font-size: 15px; }
      #home-container #friends #friend-details #f-name:hover {
        color: #94082b;
        transition: 0s; }
    #home-container #friends #all-users {
      margin-left: 20px;
      font-size: 20px;
      color: dodgerblue; }
    #home-container #friends #all-users-list {
      margin-left: 20px; }
      #home-container #friends #all-users-list #user-name-home {
        text-decoration: none;
        color: #3f382f;
        font-family: sans-serif;
        font-size: 15px; }
      #home-container #friends #all-users-list #user-name-home:hover {
        color: #94082b;
        transition: 0s; }
  #home-container #friends::-webkit-scrollbar {
    display: none; }
  #home-container #sign-in-container-home {
    height: 99%;
    width: 98%;
    text-align: center; }
    #home-container #sign-in-container-home #sign-in-home {
      width: 22%;
      height: 20%;
      color: #1e1e2b;
      margin-left: 20%;
      margin-top: 14%;
      color: #93ccea;
      font-size: 30px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
    #home-container #sign-in-container-home #form-signin-home {
      width: 33%;
      height: 60%;
      margin-left: 50%;
      margin-top: -20%;
      background-color: white; }
      #home-container #sign-in-container-home #form-signin-home #home-form {
        height: 100%;
        width: 100%;
        border-top: 1px solid rgba(65, 65, 236, 0);
        margin-top: 6%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        #home-container #sign-in-container-home #form-signin-home #home-form .input-home {
          display: block;
          height: 15%;
          width: 87%;
          padding: 4%;
          margin-left: 7%;
          border: none;
          border-bottom: 1px solid grey; }
        #home-container #sign-in-container-home #form-signin-home #home-form .input-home:focus {
          outline: none; }
        #home-container #sign-in-container-home #form-signin-home #home-form #sign-in-b {
          margin-left: 7%;
          height: 15%;
          width: 87%;
          display: flex;
          justify-content: center;
          align-items: center; }
          #home-container #sign-in-container-home #form-signin-home #home-form #sign-in-b .but-sub {
            border: none;
            height: 100%;
            width: 100%;
            background-color: rgba(201, 201, 201, 0.3); }
          #home-container #sign-in-container-home #form-signin-home #home-form #sign-in-b .but-sub:hover {
            transition: 0.5s;
            background-color: #afcbcc;
            cursor: pointer; }
    #home-container #sign-in-container-home #google-container {
      width: 87%;
      height: 15%;
      margin-left: 7%;
      border-radius: 20px;
      text-decoration: none; }
      #home-container #sign-in-container-home #google-container .google-btn {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25); }
        #home-container #sign-in-container-home #google-container .google-btn .google-icon-wrapper {
          width: 10%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-radius: 2px;
          background-color: #fff; }
        #home-container #sign-in-container-home #google-container .google-btn .btn-text {
          color: black;
          font-size: 14px;
          letter-spacing: 0.2px;
          text-decoration: none;
          font-family: "Roboto";
          height: 100%;
          width: 40%;
          display: flex;
          align-items: center;
          justify-content: center; }
        #home-container #sign-in-container-home #google-container .google-btn:hover {
          box-shadow: 0 0 6px #4285f4; }
    #home-container #sign-in-container-home #sign-up-home {
      background-color: white;
      width: 33%;
      height: 8%;
      margin-left: 50%;
      margin-top: 1%;
      padding-top: 1%;
      padding-bottom: 1%; }

#home-container::-webkit-scrollbar {
  width: 0; }

.no-js #loader {
  display: none; }

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0; }

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff; }
  .se-pre-con .loader-container-lay {
    width: auto;
    font-size: 30px;
    position: relative;
    left: 47%;
    top: 45%; }

@media (max-width: 550px) {
  #photo-icon {
    height: 17px !important;
    width: 17px !important; }
  #friends {
    display: none !important; }
  #post-container {
    width: 100% !important;
    margin-left: 0 !important; }
  #new-post {
    height: 84px !important; }
  .custom-file-input, .comment-button, .button-home {
    font-size: 7px !important; }
  #picture {
    height: 400px !important;
    width: 100% !important; }
  .post-comments-container {
    font-size: 10px !important; }
  #sign-in-container-home {
    height: 100% !important;
    border: 1px solid rgba(34, 255, 255, 0) !important;
    background-color: white; }
  #sign-in-home {
    height: 100px !important;
    margin-left: 25% !important; }
  #form-signin-home {
    margin-top: 6% !important;
    width: 80% !important;
    height: 285px !important;
    margin-left: 10% !important; }
    #form-signin-home #input-home {
      border: 1px solid grey !important;
      height: 13% !important; }
  #sign-up-home {
    width: 70% !important;
    height: 38px !important;
    margin-left: 10% !important;
    margin-top: 0% !important;
    padding-left: 4% !important; } }
