#layout-footer {
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 54px;
  background: grey;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
