body {
  margin: 0; }
  body #head {
    background-color: lightseagreen;
    height: 18%;
    position: relative; }
    body #head p {
      position: absolute;
      left: 8%;
      font-size: 35px;
      color: white; }
    body #head #head-list {
      position: absolute;
      left: 80%;
      bottom: 25%;
      list-style: none; }
      body #head #head-list li {
        display: inline;
        padding: 15px;
        margin-top: -45px; }
        body #head #head-list li a {
          font-size: 20px;
          color: white;
          text-decoration: none; }
        body #head #head-list li a:hover {
          transition: cubic-bezier(0.075, 0.82, 0.165, 1);
          color: #fa0101; }
