#profile-container-2 {
  height: 100%; }
  #profile-container-2 #cover-background {
    height: 43%;
    width: 100%;
    background-color: #FFDEE9;
    background-image: linear-gradient(315deg, #FFDEE9 0%, #B5FFFC 100%); }
  #profile-container-2 #profile-pic-container {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin-left: 18%;
    margin-top: -10%; }
    #profile-container-2 #profile-pic-container #profile-pic {
      height: 100%;
      width: 100%;
      object-fit: contain;
      position: relative;
      border: 3px solid white; }
  #profile-container-2 #update-form-container {
    height: 500px;
    width: 17%;
    margin-top: -5%;
    margin-left: 43%; }
    #profile-container-2 #update-form-container #userName, #profile-container-2 #update-form-container #userEmail {
      width: 100%;
      padding: 15px;
      display: block; }
    #profile-container-2 #update-form-container #userName, #profile-container-2 #update-form-container #userEmail {
      margin-top: 10px;
      border: none;
      border-bottom: 2px solid rgba(12, 12, 12, 0.2);
      font-family: sans-serif; }
    #profile-container-2 #update-form-container #userName:focus, #profile-container-2 #update-form-container #userEmail:focus {
      outline: none; }
    #profile-container-2 #update-form-container #file {
      opacity: 0;
      width: 0.1px;
      height: 0.1px;
      position: absolute; }
    #profile-container-2 #update-form-container .file-input label {
      margin-top: 20px;
      display: block;
      position: relative;
      width: 100%;
      height: 8%;
      background: linear-gradient(40deg, #4d2e3f, #524fa1);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: small;
      font-family: sans-serif;
      cursor: pointer;
      transition: transform .2s ease-out; }
    #profile-container-2 #update-form-container .button {
      margin-top: 6%;
      position: relative;
      display: block;
      width: 100%;
      height: 8%;
      border-radius: 18px;
      background-color: #615959;
      border: solid 1px transparent;
      color: white;
      font-size: 13px;
      font-weight: 100;
      font-family: sans-serif;
      cursor: pointer;
      transition: all .1s ease-in-out; }
      #profile-container-2 #update-form-container .button:hover {
        background-color: transparent;
        border-color: black;
        color: black;
        transition: all .1s ease-in-out; }

#main-div {
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  background-color: rgba(241, 240, 240, 0.2); }
  #main-div .other-user-details-container {
    width: 100%;
    height: 35%;
    margin-top: 54px;
    background-color: #ffffff;
    background-image: linear-gradient(62deg, #ffffff 0%, #E0C3FC 100%); }
    #main-div .other-user-details-container #user-details {
      position: relative;
      top: 25%;
      margin-left: 10%;
      width: 17%;
      height: 160%; }
      #main-div .other-user-details-container #user-details #img3 {
        margin-top: 5%;
        width: 200px;
        height: 200px;
        object-fit: contain;
        border-radius: 50%; }
      #main-div .other-user-details-container #user-details #add-friend {
        text-decoration: none;
        margin-left: 25%;
        margin-top: -15%;
        padding: 4%;
        border-top: 2px solid grey;
        border-bottom: 2px solid grey; }
      #main-div .other-user-details-container #user-details #add-friend:hover {
        padding: 3%;
        transition: 0.3s;
        border-left: 2px solid grey;
        border-right: 2px solid grey; }
  #main-div #friends-container3 {
    position: absolute;
    margin-top: 2%;
    left: 57%;
    width: 25%;
    height: 40%;
    overflow-y: scroll;
    border-left: 3px solid #ecb96d; }
    #main-div #friends-container3 #friends3 {
      margin-left: 15%; }

#main-div::-webkit-scrollbar {
  display: none; }

#friends-container3::-webkit-scrollbar {
  display: none; }

@media (max-width: 750px) {
  #cover-background {
    height: 150px !important; }
  #profile-pic-container {
    margin-left: 24% !important;
    margin-top: -18% !important;
    z-index: 0 !important; }
  #update-form-container {
    font-size: 12px !important;
    margin-top: 10% !important;
    margin-left: 14.5% !important;
    width: 75% !important; }
  .file-input label {
    font-size: 10px !important;
    height: 40px !important; }
  .other-user-details-container {
    margin-top: 10px !important; }
  #user-details {
    width: 60% !important;
    margin-left: 24% !important; }
  #friends-container3 {
    margin-top: 55% !important;
    border-left: none !important;
    border-top: 2px solid #8290b6;
    width: 100% !important;
    margin-left: -57% !important;
    background-color: white !important; } }
