#profile-container {
  height: 500px; }
  #profile-container #cover-background {
    margin-top: -22px;
    height: 200px;
    width: 100vw;
    background-color: #FFDEE9;
    background-image: linear-gradient(315deg, #FFDEE9 0%, #B5FFFC 100%); }
  #profile-container #profile-pic {
    height: 180px;
    width: 180px;
    border-radius: 100px;
    margin-left: 550px;
    margin-top: -100px;
    position: relative; }
  #profile-container form {
    margin-left: 540px; }
    #profile-container form #userName, #profile-container form #userEmail {
      width: 200px;
      padding: 10px;
      display: block;
      margin-top: 15px; }
    #profile-container form #userName, #profile-container form #userEmail {
      border: none;
      border-bottom: 2px solid rgba(12, 12, 12, 0.5);
      font-family: sans-serif; }
    #profile-container form #userName:focus, #profile-container form #userEmail:focus {
      outline: none; }
    #profile-container form #file {
      opacity: 0;
      width: 0.1px;
      height: 0.1px;
      position: absolute; }
    #profile-container form .file-input label {
      margin-top: 20px;
      display: block;
      position: relative;
      width: 200px;
      height: 50px;
      background: linear-gradient(40deg, #4d2e3f, #524fa1);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: small;
      font-family: sans-serif;
      cursor: pointer;
      transition: transform .2s ease-out; }
    #profile-container form .button {
      margin-top: 15px;
      margin-left: 20px;
      position: relative;
      display: block;
      width: 150px;
      height: 36px;
      border-radius: 18px;
      background-color: #615959;
      border: solid 1px transparent;
      color: white;
      font-size: 13px;
      font-weight: 100;
      font-family: sans-serif;
      cursor: pointer;
      transition: all .1s ease-in-out; }
      #profile-container form .button:hover {
        background-color: transparent;
        border-color: black;
        color: black;
        transition: all .1s ease-in-out; }
