#sign-in-container {
  height: 500px;
  width: 300px;
  text-align: center;
  margin-left: 40%; }
  #sign-in-container h1 {
    color: #1e1e2b; }
  #sign-in-container form input {
    display: block;
    height: 10%;
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 16px;
    border: none;
    border-bottom: 1px solid grey; }
  #sign-in-container form input:focus {
    outline: none; }
  #sign-in-container form #button:hover {
    background-color: cadetblue;
    cursor: pointer; }
  #sign-in-container .google-btn {
    margin-left: 16px;
    width: 90%;
    height: 10%;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25); }
    #sign-in-container .google-btn .google-icon-wrapper {
      position: absolute;
      margin-top: 5px;
      margin-left: 20px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background-color: #fff; }
    #sign-in-container .google-btn .google-icon {
      position: absolute;
      margin-top: 11px;
      margin-left: -10px;
      width: 18px;
      height: 18px; }
    #sign-in-container .google-btn .btn-text {
      float: right;
      margin-right: 80px;
      margin-top: 15px;
      text-align: center;
      color: black;
      font-size: 14px;
      letter-spacing: 0.2px;
      font-family: "Roboto"; }
    #sign-in-container .google-btn:hover {
      box-shadow: 0 0 6px #4285f4; }
    #sign-in-container .google-btn:active {
      background: #1669F2; }
