#container {
  height: 400px;
  width: 300px;
  text-align: center;
  margin-left: 40%; }
  #container #sign-up-form {
    display: flex;
    flex-direction: column; }
    #container #sign-up-form input {
      height: 35px;
      padding: 10px;
      margin-top: 17px;
      border: none;
      border-bottom: 1px solid black; }
    #container #sign-up-form input:focus {
      outline: none; }
    #container #sign-up-form #submit-button:hover {
      cursor: pointer;
      background-color: cadetblue; }
    #container #sign-up-form #submit-button {
      border: none; }
  #container .google-btn {
    margin-left: 16px;
    width: 90%;
    height: 10%;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25); }
    #container .google-btn .google-icon-wrapper {
      position: absolute;
      margin-left: 20px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background-color: #fff; }
    #container .google-btn .google-icon {
      position: absolute;
      margin-top: 11px;
      margin-left: -10px;
      width: 18px;
      height: 18px; }
    #container .google-btn .btn-text {
      float: right;
      margin-right: 80px;
      margin-top: 10px;
      text-align: center;
      color: black;
      font-size: 14px;
      letter-spacing: 0.2px;
      font-family: "Roboto"; }
    #container .google-btn:hover {
      box-shadow: 0 0 6px #4285f4; }
    #container .google-btn:active {
      background: #1669F2; }
